Repository Rick1330/nebula, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/platform, @your-org/backend, @your-org/frontend, @your-org/docs, @your-org/maintainers

.github/CODEOWNERS:

# Require reviews for sensitive paths
/.github/workflows/*  @your-org/platform
/app/api/**           @your-org/backend
/server/**            @your-org/backend
/components/**        @your-org/frontend
/prisma/**            @your-org/backend
/docs/**              @your-org/docs
/*                    @your-org/maintainers

ci: add baseline CI and release workflows
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/zap.yml
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.cjs
  docs/branch-protection.md
  docs/verification.md
  lint-staged.config.cjs
  release.config.cjs
Owners: @your-org/platform, @your-org/maintainers, @your-org/docs

ci: make workflows no-op when package.json missing; keep ZAP non-blocking
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @your-org/platform

feat(web): providers, theme provider, Nebula logo, env example
  web/.gitignore
  web/README.md
  web/app/favicon.ico
  web/app/globals.css
  web/app/layout.tsx
  web/app/page.tsx
  web/app/providers.tsx
  web/components/nebula-logo.tsx
  web/components/theme-provider.tsx
  web/env.example
  web/eslint.config.mjs
  web/next.config.ts
  web/package.json
  web/pnpm-lock.yaml
  web/postcss.config.mjs
  web/public/file.svg
  web/public/globe.svg
  web/public/next.svg
  web/public/vercel.svg
  web/public/window.svg
  web/tsconfig.json
Owners: none

feat(web): add Prisma init and baseline deps (Redis, Socket.IO, BullMQ, S3, LiveKit)
  web/.gitignore
  web/package.json
  web/pnpm-lock.yaml
  web/prisma/schema.prisma
Owners: none

ci(web): run CI in web workspace; add typecheck and test scripts
  .github/workflows/ci.yml
  web/package.json
Owners: @your-org/platform

ci: fix pnpm setup and caching in workflow
  .github/workflows/ci.yml
Owners: @your-org/platform

ci: ensure pnpm available and cached; style: relax no-this-alias
  .github/workflows/ci.yml
  web/eslint.config.mjs
Owners: @your-org/platform

ci(web): ignore generated Prisma client and prisma dir in ESLint
  web/eslint.config.mjs
Owners: none

build(web): ignore ESLint during Next.js build (lint runs separately)
  web/next.config.ts
Owners: none

feat(web): add Prisma schema, client singleton, and seed script
  web/app/lib/prisma.ts
  web/package.json
  web/prisma/schema.prisma
  web/prisma/seed.ts
Owners: none

ci: quote on in workflows; update lockfile
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/zap.yml
  web/pnpm-lock.yaml
Owners: @your-org/platform

ci: replace workflow with minimal valid schema; fix validator warning
  .github/workflows/ci.yml
Owners: @your-org/platform

ci: generate Prisma client before typecheck/build
  .github/workflows/ci.yml
Owners: @your-org/platform

chore(docker): add compose (db/redis/minio), web Dockerfile, bootstrap scripts
  docker-compose.yml
  env.example
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  web/Dockerfile
Owners: @your-org/maintainers

ci(release): add semantic-release plugins (changelog, git, github, analyzer, notes)
  web/package.json
  web/pnpm-lock.yaml
Owners: none

ci(release): add root semantic-release deps
  package.json
  pnpm-lock.yaml
Owners: @your-org/maintainers

ci(release): install root and web deps before semantic-release
  .github/workflows/release.yml
Owners: @your-org/platform

docs(rules): fix markdownlint MD041/MD032/MD047; ci(release): finalize permissions
  .cursor/rules/project-nebula-rules.mdc
  .github/workflows/release.yml
Owners: @your-org/platform

ci(release): avoid commits to main; publish tags/releases only
  release.config.cjs
Owners: @your-org/maintainers

Notes added by 'git notes add'
  5c844b4a080f0d0b0e29a9d1c3d4e658ee0a8781
Owners: @your-org/maintainers

feat(api): add health, workspaces and channels endpoints with Zod + Prisma
  docker-compose.yml
  web/app/api/channels/route.ts
  web/app/api/health/route.ts
  web/app/api/workspaces/route.ts
  web/app/lib/prisma.ts
  web/lib/api.ts
  web/lib/schemas.ts
  web/prisma/schema.prisma
Owners: @your-org/maintainers

fix(api): map numeric init to ResponseInit in json()
  web/lib/api.ts
Owners: none

Notes added by 'git notes add'
  a45220546482c14e63e427b5d732092315889d71
Owners: @your-org/maintainers

feat(ws): add Socket.IO server skeleton with ping/pong and dev script
  package.json
  server/realtime.ts
Owners: @your-org/maintainers, @your-org/backend

feat(realtime): add Redis adapter (lazy), per-event rate limiting, and JSON logs
  package.json
  pnpm-lock.yaml
  server/realtime.ts
Owners: @your-org/maintainers, @your-org/backend

Notes added by 'git notes add'
  a52ea1eef65ea4a4d260a50ec88498361bd97ffb
Owners: @your-org/maintainers

feat(realtime): add Zod validation for WS events
  package.json
  pnpm-lock.yaml
  server/realtime.ts
  server/ws/schemas.ts
Owners: @your-org/maintainers, @your-org/backend

Notes added by 'git notes add'
  2d184abc62a6cc000abe1058fc0dc712e09a9283
Owners: @your-org/maintainers

feat(realtime): presence with Redis TTL + UI presence page
  server/presence.ts
  server/realtime.ts
  web/app/api/realtime/presence/route.ts
  web/app/realtime/presence/page.tsx
  web/env.example
Owners: @your-org/backend

Notes added by 'git notes add'
  de7a375bd4d20f2aec0644b4c8905daff9ec069b
Owners: @your-org/maintainers

feat(channels): CRUD endpoints, UI, and per-workspace unique name
  web/app/api/channels/[id]/route.ts
  web/app/api/channels/route.ts
  web/app/workspaces/[workspaceId]/channels/page.tsx
  web/lib/schemas.ts
  web/prisma/migrations/20250902143225_init/migration.sql
  web/prisma/migrations/20250904135056_channels_unique_name/migration.sql
  web/prisma/migrations/migration_lock.toml
  web/prisma/schema.prisma
Owners: none

fix: type and lint issues in channels/workspaces APIs and page
  web/app/api/channels/[id]/route.ts
  web/app/api/workspaces/route.ts
  web/app/workspaces/[workspaceId]/channels/page.tsx
Owners: none

fix(api): correct Next.js route handler context params typing
  web/app/api/channels/[id]/route.ts
Owners: none

fix(api): handle both plain and Promise params for Next.js route context
  web/app/api/channels/[id]/route.ts
Owners: none

Notes added by 'git notes add'
  27652544a0d6206f2bc5486e90219bacacaae674
Owners: @your-org/maintainers

feat(voice): LiveKit Cloud + mic publish; refactor token route; dedupe channels UI
  .github/pull_request_template.md
  docker-compose.yml
  tsconfig.json
  web/.dockerignore
  web/app/api/auth/[...nextauth]/route.ts
  web/app/api/channels/[id]/route.ts
  web/app/api/channels/route.ts
  web/app/api/voice/token/route.ts
  web/app/login/page.tsx
  web/app/providers.tsx
  web/app/voice/page.tsx
  web/app/workspaces/[workspaceId]/channels/page.tsx
  web/lib/http.ts
  web/package.json
  web/pnpm-lock.yaml
Owners: @your-org/maintainers

"feat(voice): LiveKit Cloud + mic publish; refactor token route; dedupe channels UI"
  web/app/generated/prisma/client.d.ts
  web/app/generated/prisma/client.js
  web/app/generated/prisma/default.d.ts
  web/app/generated/prisma/default.js
  web/app/generated/prisma/edge.d.ts
  web/app/generated/prisma/edge.js
  web/app/generated/prisma/index-browser.js
  web/app/generated/prisma/index.d.ts
  web/app/generated/prisma/index.js
  web/app/generated/prisma/package.json
  web/app/generated/prisma/runtime/edge-esm.js
  web/app/generated/prisma/runtime/edge.js
  web/app/generated/prisma/runtime/index-browser.d.ts
  web/app/generated/prisma/runtime/index-browser.js
  web/app/generated/prisma/runtime/library.d.ts
  web/app/generated/prisma/runtime/library.js
  web/app/generated/prisma/runtime/react-native.js
  web/app/generated/prisma/runtime/wasm-compiler-edge.js
  web/app/generated/prisma/runtime/wasm-engine-edge.js
  web/app/generated/prisma/schema.prisma
  web/app/generated/prisma/wasm.d.ts
  web/app/generated/prisma/wasm.js
  web/next-env.d.ts
Owners: none

feat(voice): LiveKit Cloud + mic publish; refactor token route; dedupe channels UI
  .github/pull_request_template.md
  docker-compose.yml
  tsconfig.json
  web/.dockerignore
  web/app/api/auth/[...nextauth]/route.ts
  web/app/api/channels/[id]/route.ts
  web/app/api/channels/route.ts
  web/app/api/voice/token/route.ts
  web/app/login/page.tsx
  web/app/providers.tsx
  web/app/voice/page.tsx
  web/app/workspaces/[workspaceId]/channels/page.tsx
  web/lib/http.ts
  web/package.json
  web/pnpm-lock.yaml
Owners: @your-org/maintainers

Notes added by 'git notes add'
  460d1da162f3f5e8906e813fcefb8e44d1d0a800
Owners: @your-org/maintainers

adding aditional changes to the ignore file
  .ai/chat-history/.gitkeep
  .gitignore
Owners: @your-org/maintainers
